.tech {
    height: 100vh;
    display: flex;
    align-items: center;
}

.tech-title {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}

.tech-subtitle {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}

.tech-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: slateblue;
    height: 100%;
}

.tech-right {
    flex: 1;
}

.t-card-bg {
    position: absolute;
    top: 50;
    left: 50;
    background-color: sienna;
}

.t-card {
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.t-img {
    width: 100%;
}

.t-award-img {
    width: 120px;
    height: 120px;
    border-radius: 20px;
}

.t-title {
    font-weight: 400;
}

.t-sub {
    margin: 20px 0px;
}

.t-desc {
    font-weight: 300;
}

.t-award {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.t-award-texts {
    width: 70%;
}

.t-award-title {
    font-weight: bold;
    color: grey;
    margin-bottom: 10px;
}