.technologies {
    margin: 20px 10px;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}

.t-title {
    font-size: 1rem;
    color: #D11313;
    margin-top: -5px;
    padding: 5px;
    position: absolute;
}

.t-img {
    width: 60px;
    height: 60px;
    transition: all 10s ease;
}

p:hover .p-img {
    transform: translateY(-100%);
}