.pl {
    padding: 50px 100px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pl-title {
    font-size: 3rem;
    font-weight: 600;
}

.pl-desc {
    margin: 20px 0px;
}

.pl-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/********** MEDIA QUERIES **********/

@media screen and (max-width: 480px) {
    .pl {
      text-align: center;
      padding: 50px 50px; /* responsible for imgs width on mobile view */
    }
 
    .pl-title {
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .pl-desc {
        margin: 20px 0px;
    }
 }

 @media screen and (max-width: 860px) {
     .pl {
         padding: 50px 50px;
     }

    .pl-desc {
        font-size: 1.2rem;
    }
}