.contact {
    height: 150vh;
    position: relative;
}

.c-bg {
    width: 20px;
    height: 100%;
    background-color: #df0909;
    position: absolute;
}

.c-wrapper {
    padding: 50px;
    display: flex;
}

.c-left {
    flex: 1;
}

.c-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.c-title {
    font-size: 60px;
    width: 80%;
}

.c-info-item {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.c-icon {
    padding: 50px 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: red;
    font-size: 2rem;
}

.c-desc {
    font-weight: 300;
    font-size: 1.5rem;
}

form {
    margin-top: 50px;
}

input {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
    border: none;
}

textarea {
    width: 100%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
    border: none;
}

button {
    border: none;
    padding: 15px;
    background-color: #df0909;
    color: rgb(247, 241, 241);
    font-weight: 500;
    cursor: pointer;
    font-size: 1.5rem;
}

.sent-msg {
    display: block;
    margin: 20px 20px;
    padding: 25px;
    background-color: rgb(150, 1, 1);
    color: white;
}

.sent-text {
    color: white;
    font-size: 2rem;
    background-color: coral;
}

.link {
    color: white;
}

@media screen and (max-width: 480px)  {
    .contact {
        height: 150vh;
    }

    .c-wrapper {
       flex-direction: column;
    }

    .c-title {
        font-size: 2.5rem;
    }

    .c-icon {
        padding: 30px 10px;
        justify-content: center;
        display: flex;
        align-items: center;
        color: red;
        font-size: 2rem;
    }
    
   .c-info-item {
       font-size: 0.9rem;  
   } 
}

@media screen and (max-width: 860px) and (min-width: 490px) {
    .contact {
        height: 150vh;
    }

    .c-wrapper {
       flex-direction: column;
    }

    .c-title {
        font-size: 2.5rem;
    }

    .c-icon {
        padding: 30px 10px;
        justify-content: center;
        display: flex;
        align-items: center;
        color: red;
        font-size: 2rem;
    }
    
   .c-info-item {
       font-size: 1.2rem;  
   } 

   .c-right {
       margin-top: 50px;
   }
}